/* -------------- GLOBAL -------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none; }

.primary, .paginate_button, .step-links a, .dataTables_paginate a {
  background-color: #23537e !important;
  color: #f2f2f2 !important;
  transition: all 0.3s ease-in; }
  .primary:hover, .paginate_button:hover, .step-links a:hover, .dataTables_paginate a:hover {
    background-color: #326fa2 !important;
    border-color: #326fa2 !important; }
  .primary.unhover:hover, .unhover.paginate_button:hover, .step-links a.unhover:hover, .dataTables_paginate a.unhover:hover {
    background-color: #23537e !important;
    border-color: #23537e !important; }
  .primary.pretty-button.void, .void.paginate_button, .step-links a.void, .step-links .primary.void.current, .dataTables_paginate a.void {
    background-color: #f2f2f2 !important;
    color: #23537e !important; }
    .primary.pretty-button.void:hover, .void.paginate_button:hover, .step-links a.void:hover, .step-links .primary.void.current:hover, .dataTables_paginate a.void:hover {
      background-color: #eaf3ff !important; }

.action, .step-links .current, .dataTables_paginate a.current {
  background-color: #efaf00 !important;
  color: #f2f2f2 !important;
  transition: all 0.3s ease-in; }
  .action:hover, .step-links .current:hover, .dataTables_paginate a.current:hover {
    background-color: #ffc32f !important;
    border-color: #ffc32f !important; }
  .action.unhover:hover, .step-links .unhover.current:hover, .dataTables_paginate a.unhover.current:hover {
    background-color: #efaf00 !important;
    border-color: #efaf00 !important; }
  .action.pretty-button.void, .action.void.paginate_button, .step-links a.action.void, .step-links .void.current, .dataTables_paginate a.action.void, .dataTables_paginate a.void.current {
    background-color: #f2f2f2 !important;
    color: #efaf00 !important; }
    .action.pretty-button.void:hover, .action.void.paginate_button:hover, .step-links a.action.void:hover, .step-links .void.current:hover, .dataTables_paginate a.action.void:hover, .dataTables_paginate a.void.current:hover {
      background-color: #fff7e5 !important; }

.danger {
  background-color: #b22637 !important;
  color: #f2f2f2 !important;
  transition: all 0.3s ease-in; }
  .danger:hover {
    background-color: #d23446 !important;
    border-color: #d23446 !important; }
  .danger.unhover:hover {
    background-color: #b22637 !important;
    border-color: #b22637 !important; }
  .danger.pretty-button.void, .danger.void.paginate_button, .step-links a.danger.void, .step-links .danger.void.current, .dataTables_paginate a.danger.void {
    background-color: #f2f2f2 !important;
    color: #b22637 !important; }
    .danger.pretty-button.void:hover, .danger.void.paginate_button:hover, .step-links a.danger.void:hover, .step-links .danger.void.current:hover, .dataTables_paginate a.danger.void:hover {
      background-color: #ffe9e9 !important; }

.success {
  background-color: #27aa23 !important;
  color: #f2f2f2 !important;
  transition: all 0.3s ease-in; }
  .success:hover {
    background-color: #24bb1f !important;
    border-color: #24bb1f !important; }
  .success.unhover:hover {
    background-color: #27aa23 !important;
    border-color: #27aa23 !important; }
  .success.pretty-button.void, .success.void.paginate_button, .step-links a.success.void, .step-links .success.void.current, .dataTables_paginate a.success.void {
    background-color: #f2f2f2 !important;
    color: #27aa23 !important; }
    .success.pretty-button.void:hover, .success.void.paginate_button:hover, .step-links a.success.void:hover, .step-links .success.void.current:hover, .dataTables_paginate a.success.void:hover {
      background-color: #e5ffe5 !important; }

.dark {
  background-color: #363636 !important;
  color: #f2f2f2 !important;
  transition: all 0.3s ease-in; }
  .dark:hover {
    background-color: #4d4d4d !important;
    border-color: #4d4d4d !important; }
  .dark.unhover:hover {
    background-color: #363636 !important;
    border-color: #363636 !important; }
  .dark.pretty-button.void, .dark.void.paginate_button, .step-links a.dark.void, .step-links .dark.void.current, .dataTables_paginate a.dark.void {
    background-color: #f2f2f2 !important;
    color: #363636 !important; }
    .dark.pretty-button.void:hover, .dark.void.paginate_button:hover, .step-links a.dark.void:hover, .step-links .dark.void.current:hover, .dataTables_paginate a.dark.void:hover {
      background-color: #d3d3d3 !important; }

.light {
  background-color: #f2f2f2 !important;
  color: #363636 !important;
  transition: all 0.3s ease-in; }
  .light:hover {
    background-color: #ebebeb !important;
    border-color: #ebebeb !important; }
  .light.unhover:hover {
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2 !important; }
  .light.pretty-button.void, .light.void.paginate_button, .step-links a.light.void, .step-links .light.void.current, .dataTables_paginate a.light.void {
    background-color: #f2f2f2 !important;
    color: #f2f2f2 !important; }
    .light.pretty-button.void:hover, .light.void.paginate_button:hover, .step-links a.light.void:hover, .step-links .light.void.current:hover, .dataTables_paginate a.light.void:hover {
      background-color: #ebebeb !important; }

.primary-text {
  color: #23537e !important; }

.action-text {
  color: #efaf00 !important; }

.danger-text {
  color: #b22637 !important; }

.success-text {
  color: #27aa23 !important; }

.dark-text {
  color: #363636 !important; }

.light-text {
  color: #f2f2f2 !important; }

.primary-hover:hover {
  color: #f2f2f2 !important;
  background-color: #23537e !important; }

.action-hover:hover {
  color: #f2f2f2 !important;
  background-color: #efaf00 !important; }

.danger-hover:hover {
  color: #f2f2f2 !important;
  background-color: #b22637 !important; }

.success-hover:hover {
  color: #f2f2f2 !important;
  background-color: #27aa23 !important; }

.dark-hover:hover {
  color: #363636 !important;
  background-color: #363636 !important; }

.light-hover:hover {
  color: #f2f2f2 !important;
  background-color: #f2f2f2 !important; }

/* -------------- BODY -------------- */
body {
  background-color: #f2f2f2;
  min-width: 320px;
  font-family: 'Inter', sans-serif; }
  body * {
    font-family: 'Inter', sans-serif; }

a {
  color: #363636;
  text-decoration: none; }
  a:hover {
    color: #4d4d4d; }

p {
  margin: 0; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 2.25rem; }

h2 {
  font-size: 1.75rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1.10rem; }

h5 {
  font-size: 1rem; }

h6 {
  font-size: 0.875rem; }

ol, ul {
  padding: 0; }

mark {
  padding: 0; }

.pretty-button, .paginate_button, .step-links a, .step-links .current, .dataTables_paginate a.current, .dataTables_paginate a {
  padding: 8px 16px;
  border: 3px solid;
  border-radius: 12px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer; }
  .pretty-button.dark, .dark.paginate_button, .step-links a.dark, .step-links .dark.current, .dataTables_paginate a.dark {
    border-color: #363636; }
  .pretty-button.danger, .danger.paginate_button, .step-links a.danger, .step-links .danger.current, .dataTables_paginate a.danger {
    border-color: #b22637; }
  .pretty-button.success, .success.paginate_button, .step-links a.success, .step-links .success.current, .dataTables_paginate a.success {
    border-color: #27aa23; }
  .pretty-button.action, .action.paginate_button, .step-links a.action, .step-links .current, .dataTables_paginate a.action, .dataTables_paginate a.current {
    border-color: #efaf00; }
  .pretty-button.primary, .paginate_button, .step-links a, .step-links .primary.current, .step-links .current.paginate_button, .step-links a.current, .dataTables_paginate a.primary.current, .dataTables_paginate a.current.paginate_button, .dataTables_paginate a {
    border-color: #23537e; }

.notHover {
  pointer-events: none !important; }

.link:hover {
  color: #23537e;
  transition: all 0.3s ease-in;
  text-decoration: underline; }

.items-header__headline {
  margin-bottom: 1rem; }

.items-header__filters {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px; }

.button-bordered {
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  color: #23537e;
  border: 2px solid #23537e; }
  .button-bordered.filter-active {
    background-color: #cee2f3; }
  .button-bordered:hover {
    background-color: #96c3ee; }

.rounded-tile {
  padding: 0.25rem 1rem;
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #f2f2f2; }

.card {
  background-color: #ebebeb;
  border-radius: 12px;
  margin: 1rem;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px; }
  .card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 18px 0px; }

.pretty-input {
  margin: 5px 0;
  padding: 8px 16px;
  border-radius: 12px;
  border: 1px solid #363636;
  font-size: 14px;
  background-color: #f2f2f2; }
  .pretty-input:hover {
    outline: #363636 auto 1px;
    border-color: #363636; }
  .pretty-input select {
    cursor: pointer; }

.pretty-textarea {
  width: calc(100% - 4px);
  margin-left: 2px;
  margin-right: 2px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 12px;
  resize: none; }
  .pretty-textarea:hover {
    outline: #363636 auto 1px; }

.submit-icon {
  border: none;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 1rem;
  cursor: pointer; }

.xdsoft_datetimepicker {
  border-radius: 12px; }

.danger-outline {
  outline: 2px solid #b22637;
  border-color: transparent !important; }

.active {
  display: block !important; }

.active-flex {
  display: flex !important; }

::-webkit-scrollbar {
  width: 8px; }

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #c5c5c5;
  border-radius: 12px; }
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #989898; }

@media (min-width: 480px) {
  footer {
    flex-direction: column;
    height: 240px; } }

.items-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .items-header a {
    margin-left: 0 !important; }
    .items-header a i {
      margin-right: 0.5rem; }

.items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }

.item-card {
  max-height: 20rem;
  width: 100%;
  flex-direction: column;
  justify-content: center; }
  .item-card a > h2:hover {
    text-decoration: underline; }

.group-container, .article-container {
  margin: 0 auto; }
  .group-container .page-title, .article-container .page-title {
    text-align: center; }
  .group-container .group-teacher, .article-container .group-teacher {
    font-size: 1.5em; }

.group-container .group-top-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #363636; }

.article-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  min-height: 25rem; }

.article-fields {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 42rem;
  min-height: 25rem; }
  .article-fields hr {
    margin: 20px 0; }
  .article-fields .article-fields-bottom .action-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px; }
  .article-fields .article-fields-bottom .test-file {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .article-fields .article-fields-bottom .test-file .test-file-tile {
      padding: 10px 20px;
      border-radius: 1rem;
      font-size: 1rem; }
      .article-fields .article-fields-bottom .test-file .test-file-tile * {
        margin: 0 0.25rem; }
      .article-fields .article-fields-bottom .test-file .test-file-tile:hover {
        cursor: pointer;
        background-color: #326fa2;
        transition: 0.3s ease; }

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px; }
  .top-row .edit-actions {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .top-row .edit-actions a {
      margin: 0 0.2rem;
      padding: 8px 10px;
      border-radius: 16px;
      color: #363636;
      cursor: pointer; }
    .top-row .edit-actions a, .top-row .edit-actions button {
      transition: 0.3s ease-in-out;
      background-color: #ebebeb; }

.created-row {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .created-row a:not(:last-child), .created-row div:not(:last-child) {
    margin-right: 0.4rem; }
  .created-row .updated {
    color: #4d4d4d; }

.due-date {
  margin-bottom: 10px; }

.article-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  .article-values .pretty-input {
    width: 40%; }

.article-content {
  margin: 12px 0; }

.article-content, .group-content {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis; }

.article-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center; }
  .article-right .article-solutions {
    min-width: 300px;
    text-align: center; }
    .article-right .article-solutions .solution-headline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem; }
      .article-right .article-solutions .solution-headline h3 {
        margin: 0; }
      .article-right .article-solutions .solution-headline .rounded-tile.success:hover {
        background-color: #27aa23 !important; }
      .article-right .article-solutions .solution-headline .rounded-tile.danger:hover {
        background-color: #b22637 !important; }
    .article-right .article-solutions .solutions-list {
      display: flex;
      flex-direction: column; }
      .article-right .article-solutions .solutions-list .solution-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 4px 0;
        padding: 0 8px;
        font-size: 16px; }
        .article-right .article-solutions .solutions-list .solution-item div {
          max-width: 7.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left; }
        .article-right .article-solutions .solutions-list .solution-item:first-child {
          margin-top: -0.5rem; }
      .article-right .article-solutions .solutions-list .solutions-list-footer {
        margin-top: 1rem;
        color: #23537e;
        font-weight: bold; }
    .article-right .article-solutions .solution-score {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem; }
      .article-right .article-solutions .solution-score .taken {
        font-weight: bold;
        font-size: .75rem;
        max-width: 8rem; }
      .article-right .article-solutions .solution-score .checked {
        font-size: 1.5rem; }
  .article-right .card {
    min-width: 300px; }

.score {
  padding: 0.5rem; }
  .score:hover {
    background-color: #efaf00 !important; }

.article-comments {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  .article-comments .comments-headline {
    text-align: center; }
  .article-comments .leave-comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 42rem; }
    .article-comments .leave-comment .pretty-textarea {
      max-height: 10rem;
      resize: none;
      padding: 1rem;
      border-radius: 1rem;
      margin-bottom: 16px; }
    .article-comments .leave-comment h3 {
      margin-bottom: 16px; }
  .article-comments .comment {
    width: 42rem; }
    .article-comments .comment .comment-top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 1rem; }
      .article-comments .comment .comment-top * {
        margin-right: 0.5rem; }

.disabled-area {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(54, 53, 53, 0.7);
  width: 100%;
  height: 10000%; }

.delete-confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30rem;
  height: 10rem; }
  .delete-confirmation .delete-confirmation-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-top: 16px; }

.test-file {
  margin: 16px 0; }

.solution-container {
  margin: 0 auto; }
  .solution-container h1 {
    margin: 0 2rem; }

.solution-card {
  width: 50rem; }
  .solution-card .problem-content-headline {
    margin: 1rem 0; }
  .solution-card hr {
    margin: 1rem 0; }
  .solution-card .problem-content {
    margin: 1.5rem 0; }
  .solution-card .buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

.solution-code {
  padding: 0 0.5rem;
  display: flex;
  border: 1px solid #c5c5c5;
  border-radius: 0.75rem;
  background-color: #363636; }
  .solution-code * {
    font-family: "Source Code Pro", monospace;
    font-weight: 500; }

.solution-code__line-numbers {
  border-right: 1px solid #c5c5c5;
  padding: 0.5rem 0;
  color: #f2f2f2; }

.solution-code__textarea {
  border: none;
  padding: 0.5rem;
  color: #48d8e5; }

.selected-groups, .article-solutions {
  text-align: center; }
  .selected-groups h3, .article-solutions h3 {
    margin-bottom: 16px; }

.item-top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.item-top-row, .created-row, .article-values {
  margin-bottom: 8px; }

.card hr {
  margin: 8px 0; }

.solution_item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

@media (max-width: 992px) {
  .article-box {
    align-items: center !important;
    flex-direction: column !important; }
  .article-right {
    flex-wrap: nowrap;
    flex-direction: row !important;
    justify-content: space-between;
    max-width: 44rem;
    margin: 0 auto; }
    .article-right .article-solutions {
      flex: 1 1 0; }
    .article-right .pretty-textarea {
      max-width: 35.5rem !important; } }

@media (max-width: 1200px) {
  .article-box {
    align-items: center !important;
    flex-direction: column !important; }
  .article-right {
    flex-wrap: nowrap;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 44rem;
    margin: 0 auto; }
    .article-right .article-solutions {
      flex: 1 1 0; }
    .article-right .pretty-textarea {
      max-width: 12rem; } }

/* -------------- HEADER -------------- */
header {
  width: 100%;
  height: 60px;
  padding: 0 10%;
  background-color: #23537e;
  display: flex;
  justify-content: space-between;
  align-content: center; }

.navigation-item a, .side-navigation__icon_link {
  font-size: 24px;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #f2f2f2; }

.navigation-item a:hover {
  color: #ffc32f;
  transition: 0.3s ease-out; }

.logo {
  flex: 1 1 0;
  display: flex;
  align-items: center; }
  .logo a img {
    height: 2.22222222rem; }
    .logo a img:hover {
      filter: brightness(74%) sepia(10) saturate(20) hue-rotate(356deg);
      transition: transform 0.3s ease-in-out;
      transform: translateY(-5px); }
  .logo a:hover {
    text-decoration: none; }

.notification-menu {
  padding: 0;
  display: none;
  position: absolute;
  top: 60px;
  z-index: 1;
  line-height: 1.5;
  overflow-y: scroll;
  width: 320px;
  max-height: 400px;
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;
  border-radius: 0 0 8px 8px; }
  .notification-menu::-webkit-scrollbar {
    width: 8px; }
  .notification-menu::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: #ebebeb;
    margin: 0; }
  .notification-menu::-webkit-scrollbar-thumb {
    margin-top: 8px;
    background-color: #c5c5c5;
    border-radius: 12px; }
    .notification-menu::-webkit-scrollbar-thumb:hover {
      cursor: pointer;
      background-color: #989898; }

.notification__counter {
  height: 8px;
  width: 8px;
  background-color: #d23446;
  border-radius: 20px;
  color: white;
  text-align: center;
  position: absolute;
  top: 17px;
  left: 23px;
  padding: 3px;
  border-style: solid;
  border-width: 1px; }

.notification__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  height: 80px;
  padding: 16px; }
  .notification__link:hover {
    background-color: #ebebeb; }

.notification__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 56px; }

.notification__message {
  display: -webkit-box;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: clip;
  text-overflow: ellipsis;
  font-size: 12.5px; }

.notification__received {
  color: #4d4d4d;
  font-size: 12px; }

.notification__seen i {
  color: #d23446;
  font-size: 10px; }

.navigation {
  flex: 2 1 0; }

.side-navigation {
  flex: 1 1 0; }

.navigation,
.side-navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;
  line-height: 60px;
  height: 100%; }

.side-navigation {
  justify-content: flex-end; }
  .side-navigation li {
    margin-right: 16px; }
    .side-navigation li:last-child {
      margin-right: 0; }

.side-navigation__icon_link {
  border-radius: 100px;
  padding: 6px 9px;
  color: #f2f2f2; }
  .side-navigation__icon_link:hover {
    color: #f2f2f2;
    background-color: #ffc32f; }

.sub-menu {
  display: none;
  position: absolute;
  top: 60px;
  z-index: 1;
  background-color: #23537e;
  border-radius: 0 0 20px 20px;
  overflow: hidden; }
  .sub-menu * {
    color: #f2f2f2;
    font-weight: bold; }
    .sub-menu *:hover {
      color: #f2f2f2; }
  .sub-menu li {
    font-size: 16px;
    margin: 0 !important; }
    .sub-menu li:hover {
      cursor: pointer;
      transition: 0.3s ease-out;
      background-color: #ffc32f;
      backdrop-filter: blur(10px); }
    .sub-menu li a {
      margin: 0 2em;
      border-radius: 0;
      padding: 0;
      text-align: center; }
      .sub-menu li a:hover {
        background-color: transparent; }
      .sub-menu li a i {
        font-size: 18px;
        padding-right: 10px; }

#notifications:hover .notification-menu {
  display: block; }

#notifications {
  position: relative;
  display: inline-block; }

.fa-arrow-right-from-bracket {
  margin-left: 2px; }

/* -------------- MAIN CONTENT -------------- */
.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #363636;
  text-align: center; }
  .greeting h1 {
    font-size: 54px;
    margin-bottom: 16px; }
  .greeting h2 {
    font-size: 42px;
    margin-bottom: 16px; }
  .greeting h3 {
    font-weight: 600;
    margin-bottom: 8px; }
    .greeting h3 a {
      color: #23537e;
      font-weight: 700; }
      .greeting h3 a:hover {
        color: #326fa2; }

.greeting__tiles-row {
  margin-top: 16px; }
  .greeting__tiles-row ul {
    display: flex;
    flex-direction: row;
    margin-top: 16px; }
    .greeting__tiles-row ul li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px 48px;
      border: 2px solid #363636;
      border-radius: 24px;
      margin-right: 16px; }
      .greeting__tiles-row ul li:last-child {
        margin-right: 0; }
      .greeting__tiles-row ul li:hover {
        background-color: #ebebeb;
        cursor: pointer; }
      .greeting__tiles-row ul li a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-weight: 600; }
        .greeting__tiles-row ul li a i {
          font-size: 60px;
          margin-bottom: 16px; }

main {
  min-height: calc(100vh - 60px - 2 * 20px);
  margin: 20px auto 100px;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; }

/* -------------- AUTH PAGES STYLES -------------- */
.auth-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  vertical-align: middle; }
  .auth-container h2 {
    width: 100%;
    text-align: center;
    margin: 15px 0; }
  .auth-container form {
    background-color: #ebebeb;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 15px 0; }
    .auth-container form .buttons-row {
      flex-wrap: wrap;
      gap: 16px; }
      .auth-container form .buttons-row * {
        flex-grow: 1; }
  .auth-container .message {
    display: block;
    background-color: #ebebeb;
    padding: 12px;
    border-radius: 12px;
    margin: 15px 0;
    text-align: center; }
    .auth-container .message a {
      color: #23537e;
      font-weight: 500; }
      .auth-container .message a:hover {
        color: #326fa2; }

.auth-form__errors {
  margin-top: 8px;
  color: #b22637;
  text-align: center; }

.flex-container {
  display: flex;
  flex-direction: column; }

.column {
  min-width: 320px;
  vertical-align: middle;
  align-self: center !important; }

.center {
  justify-content: center !important;
  align-items: center; }

.text-center {
  text-align: center; }

/* -------------- PROFILE -------------- */
.account-card {
  width: 100%;
  display: flex;
  flex-direction: column; }
  .account-card .account-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; }
  .account-card .account-bio,
  .account-card .account-credentials {
    margin: 10px 0; }

.buttons-row {
  display: flex;
  flex-direction: row;
  margin: 16px 0;
  min-height: 42px;
  align-items: center;
  justify-content: space-between; }
  .buttons-row form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; }

/* -------------- MEDIA -------------- */
@media (min-width: 1200px) {
  main {
    max-width: 1140px; }
  .navigation-item a {
    font-size: 22px; }
  .side-navigation li {
    margin-right: 12px; }
  .lecture-container {
    flex-direction: row; }
  .lecture-side {
    display: flex;
    flex-direction: column; }
    .lecture-side .attachments {
      min-width: 320px; }
    .lecture-side .comments {
      min-width: 320px; } }

@media (max-width: 1200px) {
  main {
    max-width: 960px; }
  .navigation-item a {
    font-size: 20px; }
  .side-navigation li {
    margin-right: 8px; }
  .lecture-container {
    flex-direction: column; }
  .lecture-side {
    display: flex;
    flex-direction: row; } }

@media (max-width: 992px) {
  main {
    max-width: 720px; }
  .navigation-item a {
    font-size: 16px; }
  .side-navigation li {
    margin-right: 4px; } }

@media (max-width: 768px) {
  main {
    max-width: 540px;
    margin: 20px auto;
    padding: 0; }
  .navigation-item a {
    font-size: 14px; }
  .side-navigation li {
    margin-right: 2px; } }

.article-container {
  display: flex;
  justify-content: center;
  align-items: stretch; }
  .article-container .left, .article-container .right {
    flex: 1 1 0;
    max-width: 40rem; }
  .article-container .right .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px; }

.list-top-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .list-top-row a {
    margin-left: 0 !important; }
    .list-top-row a i {
      margin-right: 0.5rem; }

.dataTables_wrapper {
  width: 60rem;
  margin: 2rem auto; }

.dataTables_length {
  margin: 1.5rem; }
  .dataTables_length select {
    margin: 0 0.25rem;
    padding: 0.25rem;
    border: 1px solid #363636;
    border-radius: 0.5rem; }

.dataTables_filter {
  margin-bottom: 1rem; }
  .dataTables_filter input {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #363636;
    outline: 0;
    border-radius: 1rem; }
    .dataTables_filter input:hover {
      outline: 1px solid #363636; }
    .dataTables_filter input:focus {
      outline: 1px solid #363636; }

.group-description {
  margin: 16px 0; }

.add-item {
  margin-bottom: 8px; }

.group-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.students-table {
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;
  text-align: left;
  width: 100%;
  background-color: #ebebeb; }
  .students-table:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 18px 0px; }
  .students-table thead th {
    padding: 1.5rem 2rem;
    background-color: #23537e;
    color: #f2f2f2; }
    .students-table thead th:first-child {
      border-radius: 12px 0 0 0; }
    .students-table thead th:last-child {
      border-radius: 0 12px 0 0; }
  .students-table tbody td {
    padding: 0.5rem 2rem; }
  .students-table tbody tr:last-child {
    padding-bottom: 1rem; }
    .students-table tbody tr:last-child td:first-child {
      border-bottom-left-radius: 12px; }
    .students-table tbody tr:last-child td:last-child {
      border-bottom-right-radius: 12px; }
  .students-table mark {
    background-color: #ffc32f;
    color: #363636; }
  .students-table th, .students-table td {
    padding: 0.5rem 0; }
  .students-table tbody tr.odd {
    background-color: #f2f2f2; }
  .students-table tbody tr:hover {
    background-color: #c5c5c5; }

.dataTables_info {
  display: none; }

.dataTables_paginate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem; }
  .dataTables_paginate a {
    margin: 0 12px;
    padding: 6px 12px; }
  .dataTables_paginate a.current {
    border-color: #efaf00 !important;
    margin: 0 12px;
    padding: 6px 12px; }

.pagination {
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.step-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3rem auto; }
  .step-links .current {
    border-color: #efaf00;
    margin: 0 12px;
    padding: 4px 12px; }

.paginate_button, .step-links a {
  margin: 0 12px;
  padding: 4px 12px; }

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-height: 80px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #363636;
  color: #f2f2f2;
  font-weight: 500; }
  footer a {
    color: #f2f2f2; }

.footer__right, .footer__left, .footer__mid {
  flex: 1 1 0;
  width: 210px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.footer__mid .logo {
  flex: none; }

.blank-screen {
  display: none;
  height: calc(100% - 60px);
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: #f2f2f2; }

.add-question, .save-questions {
  margin: 8px 16px; }

.footer__right ul {
  display: flex;
  flex-direction: row;
  gap: 32px; }
  .footer__right ul i {
    font-size: 24px; }
    .footer__right ul i:hover {
      color: #efaf00;
      transform: translateY(-5px);
      transition: 0.3s ease-in-out; }

.question__header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px; }
  .question__header input {
    width: 100%; }

.question__answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px; }
  .question__answer label {
    display: inline-block;
    width: 15px; }
  .question__answer input[type="text"] {
    width: 100%; }
  .question__answer input[type="checkbox"] {
    width: 30px;
    height: 30px; }

.question-take__header {
  margin-bottom: 16px; }

.question-take__answers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px; }

.question-take__answer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 16px; }
  .question-take__answer input[type="checkbox"] {
    width: 30px;
    height: 30px; }

.question-take__buttons {
  margin: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.delete-button {
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  color: #b22637;
  font-size: 18px; }
  .delete-button:hover {
    cursor: pointer;
    color: #d23446;
    transition: 0.3s ease-in-out; }

@media (max-width: 425px) {
  main {
    min-height: 100vh; }
  .greeting {
    max-width: 300px; }
    .greeting h1 {
      font-size: 54px;
      margin-bottom: 16px; }
    .greeting h2 {
      font-size: 42px;
      margin-bottom: 16px; }
    .greeting h1 {
      font-size: 28px;
      margin-bottom: 12px; }
    .greeting h2 {
      font-size: 22px;
      margin-bottom: 12px; }
  .column {
    min-width: 260px;
    max-width: 320px; }
  footer {
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
    max-height: 300px; } }

/*# sourceMappingURL=style.css.map */