$light: #f2f2f2;
$light-hover: #ebebeb;

$grey: #c5c5c5;
$grey-hover: #989898;

$dark: #363636;
$dark-hover: #4d4d4d;
$dark-void-hover: #d3d3d3;

$action: #efaf00;
$action-hover: #ffc32f;
$action-void-hover: #fff7e5;

$danger: #b22637;
$danger-light: #fdc8c8;
$danger-hover: #d23446;
$danger-void-hover: #ffe9e9;

$success: #27aa23;
$success-hover: #24bb1f;
$success-void-hover: #e5ffe5;

$primary: #23537e;
$primary-hover: #326fa2;
$primary-void-hover: #eaf3ff;

$primary-light: #cee2f3;
$primary-light-hover: #96c3ee;

$nav-height: 60px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@mixin common-style($bg-color, $hover-color, $void-hover-color, $text-color: $light) {
  background-color: $bg-color !important;
  color: $text-color !important;

  transition: all 0.3s ease-in;

  &:hover {
    background-color: $hover-color !important;
    border-color: $hover-color !important;
  }

  &.unhover {
    &:hover {
      background-color: $bg-color !important;
      border-color: $bg-color !important;
    }
  }

  &.pretty-button.void {
    background-color: $light !important;
    color: $bg-color !important;

    &:hover {
      background-color: $void-hover-color !important;
    }
  }
}

.primary { @include common-style($primary, $primary-hover, $primary-void-hover);}
.action { @include common-style($action, $action-hover, $action-void-hover);}
.danger { @include common-style($danger, $danger-hover, $danger-void-hover);}
.success { @include common-style($success, $success-hover, $success-void-hover);}
.dark { @include common-style($dark, $dark-hover, $dark-void-hover);}
.light { @include common-style($light, $light-hover, $light-hover, $dark);}

.primary-text {color: $primary !important;}
.action-text {color: $action !important;}
.danger-text {color: $danger !important;}
.success-text {color: $success !important;}
.dark-text {color: $dark !important;}
.light-text {color: $light !important;}

.primary-hover { &:hover { color: $light !important; background-color: $primary !important;} }
.action-hover { &:hover { color: $light !important; background-color: $action !important;} }
.danger-hover { &:hover { color: $light !important; background-color: $danger !important;} }
.success-hover { &:hover { color: $light !important; background-color: $success !important;} }
.dark-hover { &:hover { color: $dark !important; background-color: $dark !important;} }
.light-hover { &:hover { color: $light !important; background-color: $light !important;} }

/* -------------- BODY -------------- */

body {
  background-color: $light;
  min-width: 320px;
  font-family: 'Inter', sans-serif;

  * {
    font-family: 'Inter', sans-serif;
  }
}

a {
  color: $dark;
  text-decoration: none;

  &:hover {
    color: $dark-hover;
  }
}

p {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {font-size: 2.25rem;}
h2 {font-size: 1.75rem;}
h3 {font-size: 1.25rem;}
h4 {font-size: 1.10rem;}
h5 {font-size: 1rem;}
h6 {font-size: 0.875rem;}

ol, ul {padding: 0;}

mark {padding: 0;}

.pretty-button {
  padding: 8px 16px;

  border: 3px solid;
  border-radius: 12px;

  text-align: center;
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;

  &.dark {
    border-color: $dark;
  }

  &.danger {
    border-color: $danger;
  }

  &.success {
    border-color: $success;
  }

  &.action {
    border-color: $action;
  }

  &.primary {
    border-color: $primary;
  }

}

.notHover {
  pointer-events: none !important;
}

.link {
  &:hover {
    color: $primary;
    transition: all 0.3s ease-in;
    text-decoration: underline;
  }
}

.items-header__headline {
  margin-bottom: 1rem;
}

.items-header__filters {
  margin: 20px 0;
}

.button-bordered {
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s ease-out;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  color: $primary;

  border: 2px solid $primary;

  &.filter-active {
    background-color: $primary-light;
  }

  &:hover {
    background-color: $primary-light-hover;
  }

  &:not(:last-child) {
    margin-right: 10px;
  }

}

.rounded-tile {
  padding: 0.25rem 1rem;
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: $light;
}

.card {
  background-color: $light-hover;
  border-radius: 12px;
  margin: 1rem;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 18px 0px;
  }
}

.pretty-select {
}

.pretty-input {
  margin: 5px 0;
  padding: 8px 16px;

  border-radius: 12px;
  border: 1px solid $dark;

  font-size: 14px;

  background-color: $light;

  &:hover {
    outline: $dark auto 1px;
    border-color: $dark;
  }

  select {
    cursor: pointer;
  }
}

.pretty-textarea {
  width: calc(100% - 4px);
  margin-left: 2px;
  margin-right: 2px;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 12px;
  resize: none;

  &:hover {
    outline: $dark auto 1px;
  }
}

.submit-icon {
  border: none;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 1rem;

  cursor: pointer;
}

.xdsoft_datetimepicker {
  border-radius: 12px;
}

.danger-outline {
  //outline-color: $danger;
  outline: 2px solid $danger;
  border-color: transparent !important;
}

.active {
  display: block !important;
}

.active-flex {
  display: flex !important;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 12px;
  background-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: $grey;
  border-radius: 12px;

  &:hover {
    cursor: pointer;
    background-color: $grey-hover;
  }
}



@media (min-width: 320px) {

}

@media (min-width: 480px) {
  footer {
    flex-direction: column;
    height: 240px;
  }
}

@media (min-width: 768px) {


}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
