{% load sass_tags  %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- ***** ***** ***** ***** ***** ***** ***** Meta ***** ***** ***** ***** ***** ***** ***** ***** ***** -->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- ***** ***** ***** ***** ***** ***** ***** Favicon ***** ***** ***** ***** ***** ***** ***** ***** ***** -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!-- ***** ***** ***** ***** ***** ***** ***** Title ***** ***** ***** ***** ***** ***** ***** ***** ***** -->
    <title>{% block title %}Web Testing Service{% endblock %}</title>

    <!-- ***** ***** ***** ***** ***** ***** ***** Bootstrap ***** ***** ***** ***** ***** ***** ***** ***** ***** -->
    {#    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">#}

    <!-- ***** ***** ***** ***** ***** ***** ***** jQuery scripts ***** ***** ***** ***** ***** ***** ***** ***** -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>     
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script> 

    <!-- ***** ***** ***** ***** ***** ***** ***** jQuery DataTable ***** ***** ***** ***** ***** ***** ***** ***** -->
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bulma.min.css">

    <!-- ***** ***** ***** ***** ***** ***** ***** Pretty Calendar ***** ***** ***** ***** ***** ***** ***** ***** -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <!-- ***** ***** ***** ***** ***** ***** ***** Font Awesome Icons ***** ***** ***** ***** ***** ***** ***** -->
    <script src="https://kit.fontawesome.com/f514e78ecc.js" crossorigin="anonymous"></script>

    <!-- ***** ***** ***** ***** ***** ***** ***** Custom Styles ***** ***** ***** ***** ***** ***** ***** ***** -->
    <link href="{% sass_src 'styles/style.scss' %}" rel="stylesheet" type="text/css">

    <!-- ***** ***** ***** ***** ***** ***** ***** Django HTMX ***** ***** ***** ***** ***** ***** ***** ***** -->
        <script src="https://unpkg.com/htmx.org@1.9.9"></script>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
{% if user.is_authenticated %}
    {% include '_header.html' with user=user %}
{% endif %}

<main>
    {% block content %}

    {% endblock %}
</main>

<footer>
    {% include '_footer.html' %}
</footer>
<script src="{% static 'js/main.js' %}"></script>
</body>
</html>