{% extends 'base.html' %}

{% block title %}Problem take | {{ problem.headline }}{% endblock %}

{% block content %}

    <div class="solution-container">
        <h1>Add solution for {{ problem.headline }}</h1>

        <form class="solution-card card" method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}

            <div><h2 class="problem-content-headline">Problem description:</h2></div>
            <hr>
            <div class="problem-content">{{ problem.content }}</div>
            <hr>
            {{ form.solution_code }}
            <br>

            <div class="buttons-row">
                <button class="pretty-button primary">Save</button>
                <button class="pretty-button danger">Cancel</button>
            </div>


        </form>
    </div>



{% endblock %}