{% extends 'base.html' %}

{% block content %}
    <div class="filter"></div>

    <h1>Problems</h1>

    <a href="{% url 'problem' pk=1 %}">Problem</a>
    <a href="{% url 'problem_edit' pk=1 %}">Problem Edit</a>
    <a href="{% url 'problem_add' %}">Problem Add</a>
    <a href="{% url 'problem_take' pk=1 %}">Problem Take</a>


    {% for problem in problems %}
        <div class="problem-card card">
            <a href="{% url 'problem' pk=problem.pk %}">
                <h2>{{ problem.headline }}</h2>
                <div class="created">
                    <div class="created-by">
                        <div class="author" id="author">{{ problem.teacher.user.get_full_name }}</div>
                        <div class="separator-dot">•</div>
                        <div class="date-created" id="date-created">{{ problem.date_created }}</div>
                    </div>
                    <div class="due-date">
                        <div><b>Due date:</b> <span>{{ problem.deadline }}</span></div>
                    </div>

                </div>

                <div class="problem-content">{{ problem.max_points }} Points</div>
                <div class="problem-content">{{ problem.max_execution_time }} ms</div>
                <div class="problem-content">{{ problem.content }}</div>
            </a>
        </div>
    {% endfor %}
{% endblock %}

