{% extends 'base.html' %}

{% block content %}
    <div class="problem-container">
        <div class="problem-description card">
            <h1 class="title" id="title">{{ problem.headline }}</h1>
            <div class="created">
                <div class="created-by">
                    <div class="author" id="author">{{ problem.teacher.user.get_full_name }}</div>
                    <div class="separator-dot">•</div>
                    <div class="date-created" id="date-created">{{ date_created }}</div>
                </div>
                <div class="due-date">
                    <div><b>Due date:</b> <span>{{ deadline }}</span></div>
                </div>

            </div>
            <div class="max-points"><b>Points: {{ problem.max_points }}</b></div>

            <hr>
            <div class="description" id="description">
                {{ problem.content }}
            </div>
            <div class="attachments">
                <h3>Attachments</h3>
                <div class="attachments-content">
                    <a download href="/media/lectures/attachments/CV_Andrii_Demchenko1.pdf" class="attachment">
                        <div class="attachment-name">Attachment_1.pdf</div>
                    </a>
                    <a download href="/media/lectures/attachments/CV_Andrii_Demchenko1.pdf" class="attachment">
                        <div class="attachment-name">Attachment_2.pdf</div>
                    </a>
                    <a download href="/media/lectures/attachments/CV_Andrii_Demchenko1.pdf" class="attachment">
                        <div class="attachment-name">Attachment_3.pdf</div>
                    </a>
                    <a download href="/media/lectures/attachments/CV_Andrii_Demchenko1.pdf" class="attachment">
                        <div class="attachment-name">Attachment_4.pdf</div>
                    </a>
                </div>
            </div>
            <br>
            <hr>
        </div>

        <div class="problem-input">
            <div class="problem-solution card">
                <div class="solution-headline">
                    <h3>Your solution</h3>
                    <h4 class="rounded-tile danger">None</h4>
                    {#                    <h4 class="success-text">Taken</h4>#}
                </div>
                <button class="pretty-button action">Add solution</button>
                <button class="pretty-button primary">Mark as completed</button>
            </div>

            <form method="POST" class="comments card">
                {% csrf_token %}
                <h3>Leave a comment</h3>
                {{ comment_form.content  }}
                <button class="pretty-button primary">Comment</button>
            </form>
        </div>
    </div>

    {% for comment in comments %}
        <div>{{ comment }}</div>
    {% endfor %}

{% endblock %}
