{% extends 'base.html' %}

{% block content %}
    <div class="problem-container">
        <div class="problem-description card">
            <h1 class="title" id="title">Headline</h1>
            <div class="created">
                <div class="created-by">
                    <div class="author" id="author">Author</div>
                    <div class="separator-dot">•</div>
                    <div class="date-created" id="date-created">Sep 25, 2023</div>
                </div>
                <div class="due-date">
                    <div><b>Due date:</b> <span>Dec 21, 2023</span></div>
                </div>

            </div>
            <div class="max-points"><b>5 points</b></div>

            <hr>
            <div class="description" id="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto cupiditate exercitationem magnam minus nobis perferendis quia quis rem sint suscipit temporibus tenetur ullam, voluptate voluptates voluptatibus! Aspernatur, eos, maiores. Quasi!
            </div>
            <div class="attachments">
                <h3>Attachments</h3>
                <div class="attachments-content">
                    <div class="attachment">
                        <a download href="/media/lectures/CV_Andrii_Demchenko1.pdf">
                            <div class="attachment-name">Attachment_1.pdf</div>
                        </a>
                    </div>
                    <div class="attachment">
                        <a download href="/media/lectures/CV_Andrii_Demchenko1.pdf">
                            <div class="attachment-name">Attachment_2.pdf</div>
                        </a>
                    </div>
                    <div class="attachment">
                        <a download href="/media/lectures/CV_Andrii_Demchenko1.pdf">
                            <div class="attachment-name">Attachment_3.pdf</div>
                        </a>
                    </div>
                    <div class="attachment">
                        <a download href="/media/lectures/CV_Andrii_Demchenko1.pdf">
                            <div class="attachment-name">Attachment_4.pdf</div>
                        </a>
                    </div>
                </div>
            </div>
            <br>
            <hr>
        </div>

        <div class="problem-input">
            <div class="problem-solution card">
                <div class="solution-headline">
                    <h3>Your solution</h3>
                    <h4 class="danger-text">None</h4>
{#                    <h4 class="success-text">Taken</h4>#}
                </div>
                <button class="pretty-button action">Add solution</button>
                <button class="pretty-button primary">Mark as completed</button>
            </div>
            <div class="comments card">
                <h3>Leave a comment</h3>
                <textarea name="" id="" cols="30" rows="10"></textarea>
                <button class="pretty-button primary">Comment</button>
            </div>
        </div>

    </div>


{% endblock %}
