{% extends 'base.html' %}

{% block title %}Test | {{ test.headline }}{% endblock %}

{% block content %}
    <h1>Add questions for test {{ test.headline }}</h1>


    <div id="question-forms">
        {% include 'tests/question_add.html' with test=test %}
    </div>

    <button type="button" class="button-bordered add-question"
            hx-get="{% url 'question_add' pk=test.pk %}"
            hx-target="#question-forms"
            hx-swap="beforeend"><i class="fa-solid fa-circle-plus"></i>&nbsp; Add Question</button>



    <button type="submit" id="submit-all" class="pretty-button primary save-questions">Save</button>

    <div class="blank-screen">

    </div>

    <script>
        document.getElementById('submit-all').addEventListener('click', function() {
            {#document.body.innerHTML = '';#}
            let blankScreen = document.querySelector('.blank-screen');
            blankScreen.style.display = 'block';
            window.location.href = "{% url 'tests' %}";
        });
    </script>

{% endblock %}
