{% extends 'base.html' %}

{% block title %}Test Add{% endblock %}


{% block content %}
    <h1>New Test</h1>

    <div id="question-forms">
        {% include 'tests/question_add.html' %}
    </div>
    
    <br>
    <ul class="dynamic-list">
    </ul>

    <button type="button" class="btn btn-success me-2"
            hx-get="{% url 'question_add' %}"
            hx-target="#question-forms"
            hx-swap="beforeend">Add Question</button>

    <button type="submit" id="submit-all">Submit all</button>

{% endblock %}