{% extends 'base.html' %}

{% block content %}

    <h1>{{ test.headline }}</h1>

    <form method="post" enctype="multipart/form-data" novalidate autocomplete="off">
    {% csrf_token %}
    {% for form in student_answers_forms %}
            <div class="card">
                <div class="question-take__header">
                    <h2>{{ form.question.content }}</h2>
                </div>
                <div class="question-take__answers">
                    <div class="question-take__answer">
                        {{ form.answer_1 }}
                        <label for="{{ form.answer_1.id_for_label }}">{{ form.question.answer_1 }}</label>
                    </div>
                    <div class="question-take__answer">
                        {{ form.answer_2 }}
                        <label for="{{ form.answer_2.id_for_label }}">{{ form.question.answer_2 }}</label>
                    </div>
                    <div class="question-take__answer">
                        {{ form.answer_3 }}
                        <label for="{{ form.answer_3.id_for_label }}">{{ form.question.answer_3 }}</label>
                    </div>
                    <div class="question-take__answer">
                        {{ form.answer_4 }}
                        <label for="{{ form.answer_4.id_for_label }}">{{ form.question.answer_4 }}</label>
                    </div>
                </div>
            </div>
    {% endfor %}
        <div class="question-take__buttons">
            <button type="submit" class="pretty-button primary">Save answers</button>
            <a class="pretty-button danger">Cancel</a>
        </div>
    </form>
    <script>
        const formCards = document.querySelectorAll('form .card');

        formCards.forEach(function (formCard) {
            const inputFields = formCard.querySelectorAll('input[type="checkbox"]');
            inputFields.forEach(function (inputField) {
                const inputFieldID = inputField.getAttribute('id');
                inputField.setAttribute('name', inputFieldID);
            });
        });

        formCards.forEach(function (formCard) {
            let answers = formCard.querySelectorAll('.question-take__answer')
            let answersArray = Array.from(answers);

            for (let i = answersArray.length - 1; i > 0; i--) {
                const j = Math.floor(Math.random() * (i + 1));
                [answersArray[i], answersArray[j]] = [answersArray[j], answersArray[i]];
            }

            let fragment = document.createDocumentFragment();
            let cnt = 1;
            answersArray.forEach(node => {
                let label = node.querySelector('label')
                label.textContent = cnt + '. ' + label.textContent
                fragment.appendChild(node);

                console.log(node);
                cnt++;
            });

            formCard.querySelector('.question-take__answers').appendChild(fragment);
        });
    </script>
{% endblock %}