<div class="article-container">
    <div class="article-box">
        <div class="article-fields card">
            <div class="article-fields-top">
                <div class="top-row">
                    <h1 class="headline" id="headline">{{ article.headline }}</h1>
                    {% if teacher and article.teacher == teacher %}
                    <div class="edit-actions">
                        {% if problem %}
                            <a class="action-hover" href="{% url 'problem_edit' pk=article.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                        {% elif lecture %}
                            <a class="action-hover" href="{% url 'lecture_edit' pk=article.id %}"><i class="fa-regular fa-pen-to-square"></i></a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
                <div class="created-row">
                    <div class="teacher"><i class="fa-solid fa-user"></i>&nbsp;{{ article.teacher.user.get_full_name}}</div>
                    <div class="separator">&emsp;</div>
                    <div class="created"><i class="fa-regular fa-calendar"></i>&nbsp;{{ article.date_created|date:'d/m/Y, H:i' }}</div>
                    {% if article.date_updated|date:'d/m/Y, H:i' != article.date_created|date:'d/m/Y, H:i' %}
                        <div class="separator">&emsp;</div>
                        <div class="updated"><i class="fa-solid fa-pencil"></i>&nbsp;{{ article.date_updated|date:'d/m/Y, H:i' }}</div>
                    {% endif %}

                </div>
                {% if problem %}
                    <div class="due-date">
                        <b>Due date:</b> {{ article.deadline|date:'d/m/Y, H:i'}}
                    </div>

                    <div class="article-values">
                        <div class="max-points"><b>Points:</b> {{ article.max_points }}</div>
                        <div class="max-execution-time"><b>Max execution time:</b> {{ article.max_execution_time }}ms</div>
                    </div>
                {% endif %}
                <hr>
                <div class="article-content">
                    {{ article.content|linebreaksbr }}
                </div>
            </div>
            <div class="article-fields-bottom">
                <hr>
                {% if teacher %}
                    {% if problem and problem.test_file or lecture and lecture.attachment %}
                    <div class="test-file">
                        <a class="pretty-button primary test-file-tile" download="{{ article.filename }}" href="{{ article.file_url }}">
                            <i class="fa-solid fa-download"></i>&nbsp;{{ article.filename }}
                        </a>
                    </div>
                    {% endif %}
                {% elif student %}
                    {% if lecture and lecture.attachment %}
                        <div class="test-file">
                            <a class="pretty-button primary test-file-tile" download="{{ article.filename }}" href="{{ article.file_url }}">
                                <i class="fa-solid fa-download"></i>&nbsp;{{ article.filename }}
                            </a>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <div class="article-right">
            {% if teacher %}
                <div class="selected-groups card">
                    <h3>Groups</h3>
                    {% for group in article.groups.all %}
                        <a class="link" href="{% url 'group' pk=group.pk %}">{{ group.name }}</a>
                    {% empty %}
                        <p class="danger-text">No group assigned</p>
                    {% endfor %}
                </div>
            {% endif %}
            {% if student and problem %}
                {% if solution %}
                    <div class="article-solutions card">
                        <div class="solution-headline">
                            <h3>Your solution</h3>
                            <h4 class="rounded-tile success">Taken</h4>
                        </div>
                        <div class="solution-score">
                            {% if solution.score > 0.8 %}
                                <div class="score rounded-tile success notHover">
                                    {{ solution.points }} / {{ solution.problem.max_points }}
                                </div>
                            {% elif solution.score > 0.5 %}
                                <div class="score rounded-tile action notHover">
                                    {{ solution.points }} / {{ solution.problem.max_points }}
                                </div>
                            {% else %}
                                <div class="score rounded-tile danger notHover">
                                    {{ solution.points }} / {{ solution.problem.max_points }}
                                </div>
                            {% endif %}
                            <div class="taken">
                                <div class="taken-time">{{ solution.date_solved|date:'H:i'}}</div>
                                <div class="taken-date">{{ solution.date_solved|date:'d/m/Y'}}</div>
                            </div>
                            <div class="checked">
                                {% if solution.checked %}
                                    <i class="fa-solid fa-circle-check success-text"></i>
                                {% else %}
                                    <i class="fa-solid fa-circle-question action-text"></i>
                                {% endif %}
                            </div>
                        </div>
                        <a class="pretty-button primary" href="{% url 'problem_take' pk=problem.id %}">Retake</a>
                    </div>
                {% else %}
                    <div class="article-solutions card">
                        <div class="solution-headline">
                            <h3>Your solution</h3>
                            <h4 class="rounded-tile danger">None</h4>
                        </div>
                        <a class="pretty-button action" href="{% url 'problem_take' pk=problem.id %}">Add solution</a>
                    </div>
                {% endif %}
            {% endif %}
            {% if teacher and problem %}
                <div class="article-solutions card">
                    <h3>Solutions</h3>
                    <br>
                    <div class="solutions-list">
                        {% for solution in solutions|slice:":3" %}
                            <a class="solution-item link" href="{% url 'solution' pk=solution.pk %}">
                                <div>{{ solution.student.last_name }} {{ solution.student.first_name|slice:1 }}.</div>
                                <div>{{ solution.student.group }}</div>
                            </a>
                        {% empty %}
                            <p class="danger-text">Nobody solved yet</p>
                        {% endfor %}
                        <br>
                        {% if solutions.count > 3 %}
                            <a class="link" href="{% url 'solutions' pk=article.pk %}">+{{ solutions.count|add:-3 }} more</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if problem or lecture %}
        <div class="article-comments">
            <h2 class="comments-headline">Comments</h2>
            {% if user.is_authenticated %}
                <form class="leave-comment card" method="POST">
                    {% csrf_token %}
                    <h3>Leave a comment</h3>
                    {{ comment_form.content  }}
                    <button class="pretty-button primary">Comment</button>
                </form>
            {% endif %}
            {% for comment in comments %}
                <div class="comment card">
                    <div class="comment-top">
                        <div class="author"><b>{{ comment.user.get_full_name }}</b></div>
                        <div class="separator">•</div>
                        <div class="commented">{{ comment.date_created|date:'d/m/Y H:i' }}</div>
                    </div>
                    <div class="comment-bottom">
                        {{ comment.content }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

