<div class="filter"></div>

<div class="items-header">
    <h1 class="items-header__headline">{{ list_name }}</h1>
    {% if teacher %}
        {% if add_url %}
            <a class='add-item pretty-button primary' href="{% url add_url %}">
                <i class="fa-solid fa-plus"></i>New {{ object_name }}
            </a>
        {% endif %}
        {% if base_url %}
            <div class="items-header__filters">
                <a id="filter-teacher" class="button-bordered filter-teacher" href="{% url base_url %}">My</a>
                <a id="filter-all" class="button-bordered filter-all" href="{% url base_url %}?show_all=1">All</a>
            </div>
        {% endif %}
    {% endif %}


</div>

<div class="items-list">
    <div class="disabled-area" id="disabled-area"></div>

    {% for item in items %}
        <div class="card item-card" href="{% url object_name pk=item.pk %}">
            <div class="item-top-row">
                {% if problems or lectures or tests %}
                    <a href="{% url object_name pk=item.pk %}"><h2>{{ item.headline }}</h2></a>
                    <button class="delete-button" onclick="showArticleDeleteConfirmation({{ item.id }})"><i class="fa-solid fa-trash-can"></i></button>
                    <div class="delete-confirmation card" id="delete-confirmation-{{ item.id }}">
                        <h3>Do you want delete {{ object_name }} "{{ item.headline }}" ?</h3>
                        <div class="delete-confirmation-buttons">
                            <button class="pretty-button primary" onclick="closeArticleDeleteConfirmation({{ item.id }})">Cancel</button>
                            {% if problems %}
                                <a class="pretty-button danger" href="{% url 'problem_delete' pk=item.id %}">Delete</a>
                            {% elif lectures %}
                                <a class="pretty-button danger" href="{% url 'lecture_delete' pk=item.id %}">Delete</a>
                            {% elif tests %}
                                <a class="pretty-button danger" href="{% url 'test_delete' pk=item.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>

                {% elif groups %}
                    <h2>{{ item.name }}</h2>
                {% elif solutions %}
                    <div class="solution_item__header">
                        <h2>{{ item.problem.headline }} | {{ item.student.group }}</h2>
                        {% if item.checked %}
                            <div class="rounded-tile success notHover">
                                Checked
                            </div>
                        {% else %}
                            <div class="rounded-tile danger notHover">
                                Unchecked
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            {% if solutions %}
                <br>
                <div class="created-row">
                    <div class="student"><i class="fa-solid fa-user"></i>&nbsp;{{ item.student.get_full_name}}</div>
                    <div class="separator">&emsp;</div>
                    <div class="created"><i class="fa-regular fa-calendar"></i>&nbsp;{{ item.date_solved|date:'d/m/Y, H:i' }}</div>
                </div>
            {% else %}
                <div class="created-row">
                    <div class="teacher"><i class="fa-solid fa-user"></i>&nbsp;{{ item.teacher.user.get_full_name}}</div>
                    <div class="separator">&emsp;</div>
                    <div class="created"><i class="fa-regular fa-calendar"></i>&nbsp;{{ item.date_created|date:'d/m/Y, H:i' }}</div>
                    {% if item.date_updated|date:'d/m/Y, H:i' != item.date_created|date:'d/m/Y, H:i' %}
                        <div class="separator">&emsp;</div>
                        <div class="updated"><i class="fa-solid fa-pencil"></i>&nbsp;{{ item.date_updated|date:'d/m/Y, H:i' }}</div>
                    {% endif %}
                </div>
            {% endif %}

            {% if problems %}
                <div class="due-date"><b>Due date:</b>
                    {{ item.deadline|date:'d/m/Y H:i' }}
                </div>

                <div class="article-values">
                    <div class="max-points"><b>Points:</b>
                        {{ item.max_points }}
                    </div>
                    <div class="max-execution-time"><b>Max execution time:</b>
                        {{ item.max_execution_time }}
                    </div>
                </div>
            {% endif %}

            {% if problems or lectures or tests %}
                <hr>
                <div class="article-content">
                    {{ item.content }}
                </div>
            {% elif groups %}
                <div class="group-content">
                    <div><b>Teacher:</b>&nbsp;{{ item.teacher }}</div>
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% include '_pagination.html' with items=items %}

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const showAll = urlParams.get('show_all');

    if (showAll) {
        document.getElementById('filter-all').classList.add('filter-active');
        document.getElementById('filter-teacher').classList.remove('filter-active');
        let paginationLinks = document.querySelectorAll('.step-links a');
        paginationLinks.forEach(function (element) {
            element.setAttribute('href', element.getAttribute('href') + '&show_all=1');
        })
    } else {
        document.getElementById('filter-teacher').classList.add('filter-active');
        document.getElementById('filter-all').classList.remove('filter-active');
    }
</script>

