{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <h1>My account</h1>
    <div class="account-card card">
        <div class="account-bio">
            <h2>Bio</h2>
            <p><b>First name: </b><span>{{ user.first_name }}</span></p>
            <p><b>Last name: </b><span>{{ user.last_name }}</span></p>
            {% if user_type == 'student'%}
            <p><b>Group: </b><span>{{ person.group }}</span></p>
            {% endif %}
        </div>
        <br>
        <div class="account-credentials">
            <h2>Credentials</h2>
            <p><b>Username: </b><span>{{ user.username }}</span></p>
            <p><b>Email: </b><span>{{ user.email }}</span></p>
        </div>

        <div class="buttons-row">
            <a class="pretty-button hover primary" href="{% url 'password_change' %}">Change Password</a>
            <a class="pretty-button hover danger" href="{% url 'logout' %}">Logout</a>
        </div>

    </div>


{% endblock %}
