{% extends 'base.html' %}

{% block content %}
    <div class="auth-container">
        <div class="column">
            {% if user_type  == 'teacher' %}
                <h2>Sign up as Teacher</h2>
            {% elif user_type == 'student' %}
                <h2>Sign up as Student</h2>
            {% endif %}

            <form class="auth-form card" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="buttons-row">
                    <button class="pretty-button primary" type="submit">Sign up</button>
                </div>
            </form>

            <div class="message card">
                {% if user_type  == 'teacher' %}
                    Are you a student? Sign up as a <a href="{% url 'signup' user_type='student' %}">Student</a>
                {% elif user_type == 'student' %}
                    Are you a teacher? Sign up as a <a href="{% url 'signup' user_type='teacher' %}">Teacher</a>
                {% endif %}
            </div>

            <div class="message card">
                Already have an account? <a href="{% url 'login' %}">Login</a>
            </div>
        </div>
    </div>
{% endblock %}
