{% extends 'base.html' %}

{% block content %}
    <div class="auth-container">
        <div class="column">
            <h2>Sign Up as a Teacher</h2>

            <form class="auth-form card" action="">
                <input class="pretty-input" type="text" placeholder="First name">
                <input class="pretty-input" type="text" placeholder="Last name">
                <input class="pretty-input" type="text" placeholder="Username">
                <input class="pretty-input" type="text" placeholder="Email">
                <input class="pretty-input" type="text" placeholder="Access key">
                <input class="pretty-input" type="text" placeholder="Password">
                <input class="pretty-input" type="text" placeholder="Password Confirmation">

                <div class="buttons-row">
                    <button class="pretty-button primary">Sign up</button>
                </div>

            </form>

            <div class="message card">
                Already have an account? <a href="">Login</a>
            </div>
        </div>


    </div>
{% endblock %}


