<!DOCTYPE html>
<html>
<body>
    <p>Hi Student!</p>
    <br>
    <p>You receive new lecture "<b>{{lecture_title}}</b>" from your teacher <b>{{  teacher.user.first_name}} {{teacher.user.last_name}}</b>.</p>
       <br>
    <p>We hope this email finds you well and brimming with enthusiasm to dive deeper into your educational journey! We're excited to announce that a brand new lecture has just been added to your course, and we can't wait for you to explore the captivating realm of knowledge it offers.</p>
    <p>To access the new lecture, simply log in to your student portal and navigate to the course page.</p>
    <p>You'll find the lecture waiting eagerly for you, ready to unlock a world of new insights and possibilities. Remember, learning is a continuous journey, and every lecture is an opportunity to expand your intellectual prowess. So, set aside some time, find your favorite study spot, and embark on this educational adventure at your convenience.</p>
    <p>If you have any questions or need assistance, our dedicated support team is always here to help. Just drop us a line at <a href="mailto:newalphadjeolimp@gmail.com">newalphadjeolimp@gmail.com</a>, and we'll be more than happy to lend a hand.</p>
    <p>Now, without further ado, let the pursuit of knowledge commence! Prepare to be inspired, challenged, and enlightened as you dive into this captivating new lecture. We believe in your ability to conquer new frontiers of understanding and wish you an extraordinary learning experience.</p>
    <br>
    <p>Happy learning!</p>
</body>
</html>