<!DOCTYPE html>
<html>
<body>
    <p>Hi Student!</p>
    <br>
    <p>Your teacher <b>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</b> has created a new test "<b>{{test_title}}</b>" for you.</p>
    <br>
    <p>We believe you're ready for this new challenge! This test will help you reinforce your knowledge and assess your progress in the subject.</p>
    <p>To start the test, log in to your student portal and navigate to the course page.</p>
    <p>If you have any questions or need assistance, feel free to reach out to us. Our support team is always ready to help. Contact us at <a href="mailto:alphadjeolimp@gmail.com">alphadjeolimp@gmail.com</a>.</p>
    <p>Show what you're capable of! We believe in you and look forward to seeing your outstanding results.</p>
    <br>
    <p>Best of luck!</p>
</body>
</html>
