{% extends 'base.html' %}

{% block title %}Group Edit | {{ group.name }}{% endblock %}

{% block content %}
    <h1>EGroup</h1>
    <h2 class="page-title">New group</h2>
    <form class="group-container" method="post" enctype="multipart/form-data" novalidate>
        {% csrf_token %}
        <div class="group-description card">
            {{ form.name }}
        </div>

        <div class="group-side">
            <div class="group-actions card">
                <button type="submit" class="pretty-button primary">Create</button>
            </div>
        </div>
    </form>
{% endblock %}
