{% extends 'base.html' %}

{% block content %}
    <h2 class="page-title">New group</h2>
    <form class="group-container" method="post" enctype="multipart/form-data" novalidate >
        {% csrf_token %}
        <div class="group-description card">
            {{ form.name }}
        </div>

        <div class="group-side">
            <div class="group-actions card">
                <button type="submit" class="pretty-button success">Create</button>
            </div>
        </div>

    </form>
{% endblock %}
