{% extends 'base.html' %}

{% block title %}New Group{% endblock %}

{% block content %}
    <div class="group-container">
        <h1 class="page-title">New group</h1>
        <form class="group-card card" method="post" enctype="multipart/form-data" novalidate >
            {% csrf_token %}
            <div class="group-description">
                {{ form.name }}
            </div>

            <div class="group-bottom">
                <div class="group-actions">
                    <button type="submit" class="pretty-button hover success">Create</button>
                    <button type="submit" class="pretty-button hover danger">Cancel</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
