{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
{#    <section class="greeting">#}
{#        <h1>Web Testing Service</h1>#}
{#        <h2>Hello! This is a service for testing students.</h2>#}
{##}
{#        <div class="greeting__tiles-row">#}
{#            <ul>#}
{#                <li><a href="https://mechmat.knu.ua/"><i class="navigation-icon fa-solid fa-building-un"></i> Faculty</a></li>#}
{#                <li><a href="https://mechmat.knu.ua/golovna/fakul-tet/biblioteka/"><i class="navigation-icon fas fa-thin fa-book"></i>Library</a></li>#}
{#                <li><a href="https://github.com/andriidem308/web_testing_service"><i class="navigation-icon fa-brands fa-github"></i>Github</a></li>#}
{#            </ul>#}
{#        </div>#}
{#    </section>#}

    <div class="auth-container">
        <section class="greeting">
            <h1>Web Testing Service</h1>
            <h2>Hello! This is a service for testing students.</h2>
        </section>
        <div class="column">


            <form class="auth-form card" method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <h3 style="padding: 12px; text-align: center">Login</h3>

                {{ form.username }}
                {{ form.password }}

                {% if form.errors %}
                    <div class="auth-form__errors">Username or password are incorrect</div>
                {% endif %}

                <input type="hidden" name="next" value="{{ next_page }}">
                <div class="buttons-row">
                    <button class="pretty-button primary" type="submit">Login</button>
                </div>

            </form>

            <div class="message card">
                New to us? Sign up as a
                <a href="{% url 'signup' user_type='teacher' %}">Teacher</a>
                or
                <a href="{% url 'signup' user_type='student' %}">Student</a>
            </div>
        </div>

    </div>
{% endblock %}