@import "variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.items-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  a {
    margin-left: 0 !important;

    i {
      margin-right: 0.5rem;
    }
  }

}

.items-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.item-card {
  max-height: 20rem;
  width: 100%;

  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.group-container, .article-container {
  margin: 0 auto;

  .page-title {
    text-align: center;
  }

  .group-teacher {
    font-size: 1.5em;
  }
}

.group-container {
  .group-top-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  color: $dark;
}

.article-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

  margin: 0 auto;

  flex-wrap: wrap;

  min-height: 25rem;
}

.article-fields {

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 42rem;


  min-height: 25rem;


  hr {
    margin: 20px 0;
  }

  .article-fields-bottom {

    .action-buttons {
      display: flex;
      flex-direction: row;

      justify-content: space-between;

      margin-top: 16px;
    }

    .test-file {

      display: flex;
      justify-content: space-between;
      align-items: center;

      .test-file-tile {
        padding: 10px 20px;
        border-radius: 1rem;

        font-size: 1rem;

        * {
          margin: 0 0.25rem
        }

        &:hover {
          cursor: pointer;
          background-color: $primary-hover;
          transition: 0.3s ease;
        }
      }
    }
  }
}

.top-row {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;

  .edit-actions {
    display: flex;
    flex-direction: row;
    align-items: center;

    a {
      margin: 0 0.2rem;
      padding: 8px 10px;
      border-radius: 16px;

      color: $dark;
      cursor: pointer;
    }

    a, button {
      transition: 0.3s ease-in-out;
      background-color: $light-hover;
    }
  }
}

.created-row {
  display: flex;
  flex-direction: row;
  align-items: center;

  a:not(:last-child), div:not(:last-child) {
    margin-right: 0.4rem;
  }

  .updated {
    color: $dark-hover;
  }
}

.due-date {
  margin-bottom: 10px;
}

.article-values {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .pretty-input {
    width: 40%;
  }

}

.article-content {
  margin: 12px 0;
}

.article-content, .group-content {
  overflow-wrap: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-right {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;


  .article-solutions {
    min-width: 300px;

    text-align: center;

    .solution-headline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 1rem;

      .rounded-tile.success:hover {
        background-color: $success !important;
      }

      .rounded-tile.danger:hover {
        background-color: $danger !important;
      }
    }

    .solutions-list {
      display: flex;
      flex-direction: column;

      .solution-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin: 4px 0;
        padding: 0 8px;

        font-size: 16px;

        div {
          max-width: 7.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          text-align: left;
        }

        &:first-child {
          margin-top: -0.5rem;
        }

      }

      .solutions-list-footer {
        margin-top: 1rem;
        color: $primary;
        font-weight: bold;
      }
    }

    .solution-score {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      margin-bottom: 1rem;



      .taken {
        font-weight: bold;
        font-size: .75rem;
        max-width: 8rem;
      }

      .checked {
        font-size: 1.5rem;
      }
    }
  }

  .card {
    min-width: 300px;
  }

}

.score {
  padding: 0.5rem;

  &:hover {
    background-color: $action !important;
  }
}


.article-comments {
  margin: 1rem 0;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;

  .comments-headline {
    text-align: center;
  }

  .leave-comment {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;

    max-width: 42rem;

    .pretty-textarea {
      max-height: 10rem;
      resize: none;
      padding: 1rem;
      border-radius: 1rem;

      margin-bottom: 16px;
    }

    h3 {
      margin-bottom: 16px;
    }
  }

  .comment {

    width: 42rem;

    .comment-top {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      margin-bottom: 1rem;

      * {
        margin-right: 0.5rem;
      }
    }
  }

}

.disabled-area {
  position: absolute;
  top: 0;
  left: 0;

  display: none;

  background-color: rgba(54, 53, 53, 0.7);
  width: 100%;
  height: 10000%;
}

.delete-confirmation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: none;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 30rem;
  height: 10rem;


  .delete-confirmation-buttons {
    margin-top: 0.5rem;
  }

}

.test-file {
  margin: 16px 0
}

.solution-container {
  margin: 0 auto;

  h1 {
    margin: 0 2rem;
  }
}

.solution-card {

  width: 50rem;

  .problem-content-headline {
    margin: 1rem 0;
  }

  hr {
    margin: 1rem 0;
  }

  .problem-content {
    margin: 1.5rem 0;
  }

  .buttons-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


.solution-code {
  padding: 0 0.5rem;
  display: flex;
  border: 1px solid $grey;

  border-radius: 0.75rem;
  background-color: $dark;
  * {
    font-family: "Source Code Pro", monospace;
    font-weight: 500;
  }
}

.solution-code__line-numbers {
  border-right: 1px solid $grey;
  padding: 0.5rem 0;

  color: $light;
}

.solution-code__textarea {
  border: none;
  padding: 0.5rem;

  color: #48d8e5;

  //background-color: $dark;
  //color: $light;
  //padding: 1rem;
  //width: 100%;
  //
  //border-radius: 0.5rem;

}

.selected-groups, .article-solutions {
  text-align: center;

  h3 {
    margin-bottom: 16px;
  }

  //a {
  //  &:hover {
  //    color: $primary;
  //    text-decoration: underline;
  //  }
  //}
}

.item-top-row, .created-row, .article-values {
  margin-bottom: 8px;
}

.card hr {
  margin: 8px 0;
}

.solution_item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 992px) {
  .article-box {
    align-items: center !important;
    flex-direction: column !important;
  }

  .article-right {
    flex-wrap: nowrap;
    flex-direction: row !important;
    justify-content: space-between;

    max-width: 44rem;
    margin: 0 auto;

    .article-solutions {
      flex: 1 1 0;
    }

    .pretty-textarea {
      max-width: 35.5rem !important;
    }
  }
}

@media (max-width: 1200px) {
  .article-box {
    align-items: center !important;
    flex-direction: column !important;
  }

  .article-right {
    flex-wrap: nowrap;
    flex-direction: row !important;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 44rem;
    margin: 0 auto;

    .article-solutions {
      flex: 1 1 0;
    }


    .pretty-textarea {
      max-width: 12rem;
    }
  }
}







