/* -------------- GLOBAL -------------- */

@import 'model_pages.scss';

/* -------------- HEADER -------------- */

header {
  width: 100%;
  height: $nav-height;
  padding: 0 6%;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 24px;
  font-weight: bold;
  color: $light;

  a {
    letter-spacing: 0.05em;
    color: $light;

    &:hover {
      color: $action-hover;
      transition: 0.3s ease-out;
    }
  }
}

.logo {
  flex: 1 1 0;

  display: flex;
  align-items: center;


  a {
    img {
      height: 2.22222222rem;
    }

    &:hover {
      text-decoration: none;
    }
  }

}

.navigation {
  flex: 2 1 0;
}
.side-navigation {
  flex: 1 1 0;
}

.navigation,
.side-navigation {
  display: flex;
  justify-content: space-between;
  align-content: center;

  line-height: $nav-height;
  height: 100%;
  //flex: 1 1 0;
}

.side-navigation {
  justify-content: flex-end;

  li {
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }

    a {
      border-radius: 100px;
      padding: 6px 9px;

      &:hover {
        color: $light;
        background-color: $action-hover;
      }
    }
  }
}

.sub-menu {
  display: none;
  position: absolute;
  top: $nav-height;
  z-index: 1;
  background-color: $primary;
  border-radius: 0 0 20px 20px;
  overflow: hidden;
  color: $dark;

  li {
    font-size: 16px;
    margin: 0 !important;

    &:hover {
      cursor: pointer;
      transition: 0.3s ease-out;
      background-color: $action-hover;
      backdrop-filter: blur(10px);
    }

    &:hover a {
      i {
      }
    }

    a {
      margin: 0 2em;
      border-radius: 0;
      padding: 0;

      text-align: center;

      &:hover {
        background-color: transparent;
      }

      i {
        font-size: 18px;
        padding-right: 10px;
      }
    }
  }
}

.side-navigation li:first-child:hover .sub-menu {
  display: block;
}

.fa-arrow-right-from-bracket {
  margin-left: 2px;
}

/* -------------- MAIN CONTENT -------------- */

$main-margin: 20px;

main {
  min-height: calc(100vh - #{$nav-height} - 2 * #{$main-margin});
  margin: $main-margin auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

/* -------------- AUTH PAGES STYLES -------------- */

.auth-container {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  vertical-align: middle;

  h2 {
    width: 100%;
    text-align: center;
    margin: 15px 0;
  }

  form {
    background-color: $light-hover;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    margin: 15px 0;

    .buttons-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;

      * {
        flex-grow: 1;
      }
    }
  }

  .message {
    display: block;
    background-color: $light-hover;
    padding: 12px;
    border-radius: 12px;
    margin: 15px 0;
    text-align: center;

    a {
      color: $primary;

      &:hover {
        color: $primary-hover;
      }
    }
  }
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.column {
  margin-top: -100px;
  min-width: 320px;
  vertical-align: middle;
  align-self: center !important;
}

.center {
  justify-content: center !important;
  align-items: center;
}

/* -------------- PROFILE -------------- */

.account-card {
  width: 100%;
  display: flex;
  flex-direction: column;

  .account-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
  }

  .account-bio,
  .account-credentials {
    margin: 10px 0;
  }

  .buttons-row {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* -------------- MEDIA -------------- */

@media (min-width: 1200px) {
  main {
    max-width: 1140px;
  }

  header {
    font-size: 22px;
  }

  .side-navigation li {
    margin-right: 12px;
  }

  .lecture-container {
    flex-direction: row;
  }

  .lecture-side {
    display: flex;
    flex-direction: column;

    .attachments {
      min-width: 320px;
    }

    .comments {
      min-width: 320px;
    }
  }
}

@media (max-width: 1200px) {
  main {
    max-width: 960px;
  }

  header {
    font-size: 20px;
  }

  .side-navigation li {
    margin-right: 8px;
  }

  .lecture-container {
    flex-direction: column;
  }

  .lecture-side {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width: 992px) {
  main {
    max-width: 720px;
  }

  header {
    font-size: 16px;
  }

  .side-navigation li {
    margin-right: 4px;
  }

  .comments {
    //.pretty-textarea {
    //  min-width: 580px;
    //}
  }
}

@media (max-width: 768px) {
  main {
    max-width: 540px;
    margin: $main-margin auto;
    padding: 0;
  }

  header {
    font-size: 14px;
  }

  .side-navigation li {
    margin-right: 2px;
  }

  .comments {
    .pretty-textarea {
      //min-width: 400px;
    }
  }
}

@media (max-width: 576px) {
}


.article-container {

  display: flex;
  justify-content: center;
  align-items: stretch;

  .left, .right {
    flex: 1 1 0;
    max-width: 40rem;

  }

  .left {

  }

  .right {

    .actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      margin-top: 30px;
    }

  }
}

.list-top-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  a {
    margin-left: 0 !important;

    i {
      margin-right: 0.5rem;
    }
  }

}

.dataTables_wrapper {
  width: 60rem;
  margin: 2rem auto;

}

.dataTables_length {
  margin: 1.5rem;

  select {

    margin: 0 0.25rem;
    padding: 0.25rem;

    border: 1px solid $dark;
    border-radius: 0.5rem;
  }
}

.dataTables_filter {
  margin-bottom: 1rem;

  input {
    margin-left: 1rem;
    padding: 0.5rem 1rem;

    border: 1px solid $dark;
    outline: 0;
    border-radius: 1rem;

    &:hover {
      outline: 1px solid $dark;
    }

    &:focus {
      outline: 1px solid $dark;
    }
  }
}

.students-table {
  border-radius: 12px;
  //padding: 1.5rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;

  text-align: left;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 18px 0px;
  }


  width: 100%;
  background-color: $light-hover;

  thead th {
    padding: 1.5rem 2rem;
    background-color: $primary;

    color: $light;

    &:first-child {
      border-radius: 12px 0 0 0;
    }

    &:last-child {
      border-radius: 0 12px 0 0;
    }

  }
  tbody td {
    padding: 0.5rem 2rem;
  }

  tbody tr:last-child {
    padding-bottom: 1rem ;

    td:first-child {
      border-radius: 0 0 0 12px;
    }

    td:last-child {
      border-radius: 0 0 12px 0;
    }
  }

  mark {
    background-color: $action-hover;
    color: $dark;
  }

  th, td {
    padding: 0.5rem 0;
  }

  tbody tr {

    &.odd {
      background-color: $light;
    }

    &:hover {
      background-color: $grey;
    }
  }

}

.dataTables_info {
  display: none;
}

.dataTables_paginate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;

  a {
    margin: 0 0.75rem;
    padding: 0.5rem 1rem;

    background-color: $primary;
    color: $light;

    border-radius: 1rem;

    font-weight: bold;

    cursor: pointer;

    &:hover {
      background-color: $primary-hover;
    }


  }

  a.current {
    background-color: $action;
  }


}
