$light: #fffdfa;
$light: #f2f2f2;
$light-hover: #ebebeb;
$grey: #c9c9c9;
$grey-hover: #989898;
$dark: #363636;
$dark-hover: #4d4d4d;
$action: #efaf00;
$action-hover: #ffc32f;
$danger: #b22637;
$danger-light: #fdc8c8;
$danger-hover: #d23446;
$success: #27aa23;
$success-hover: #24bb1f;
$primary: #23537e;
$primary-hover: #326fa2;

$nav-height: 60px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@mixin common-style($bg-color, $text-color: $light) {
  background-color: $bg-color !important;
  color: $text-color !important;

  &:hover {
    background-color: darken($bg-color, 10%) !important;
    color: $text-color !important;
  }
}

.danger {
  @include common-style($danger);
}

.danger-hover {
  &:hover {
    color: $light !important;
    background-color: $danger !important;
  }
}

.danger-text {
  color: $danger !important;
}

.success {
  @include common-style($success);
}

.success-hover {
  &:hover {
    color: $light !important;
    background-color: $success !important;
  }
}

.success-text {
  color: $success !important;
}

.dark {
  @include common-style($dark, $light);
}

.dark-hover {
  &:hover {
    color: $light !important;
    background-color: $dark !important;
  }
}

.light {
  @include common-style($light, $dark);
}

.action {
  @include common-style($action);
}

.action-hover {
  &:hover {
    color: $light !important;
    background-color: $action !important;
  }
}

.primary {
  @include common-style($primary);
}

.primary-hover {
  &:hover {
    color: $light  !important;
    background-color: $primary !important;
  }
}

/* -------------- BODY -------------- */

body {
  background-color: $light;
  min-width: 320px;
  font-family: 'Inter', sans-serif;

  * {
    font-family: 'Inter', sans-serif;
  }
}

a {
  color: $dark;

  &:hover {
    color: $dark-hover;
  }
}

h1 {
  font-size: 36px;
}

h1, h2, h3, h4, h5 {
  margin: 10px 0;
}

.pretty-button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  transition: 0.3s ease-out;
  border: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 12px;
  color: $light;
}

.rounded-tile {
  padding: 0.25rem 1rem;
  border-radius: 12px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: $light;
}

.card {
  background-color: $light-hover;
  border-radius: 12px;
  margin: 1.5rem;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  vertical-align: middle;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 8px 0px;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 18px 0px;
  }
}

.pretty-select {
}

.pretty-input {
  border-radius: 10px;
  border: 1px solid $dark;
  padding: 8px 16px;
  font-size: 14px;
  margin: 5px 0;
  background-color: $light;

  &:hover {
    outline: $dark auto 1px;
  }

  select {
    cursor: pointer;
  }
}

.pretty-textarea {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border-radius: 12px;
  resize: none;

  &:hover {
    outline: $dark auto 1px;
  }
}

.submit-icon {
  border: none;
  font-size: 1rem;
  padding: 8px 10px;
  border-radius: 1rem;

  cursor: pointer;
}

.xdsoft_datetimepicker {
  border-radius: 12px;
}

.danger-outline {
  outline: $danger-hover solid 1px;
}

.active {
  display: block !important;
}

.active-flex {
  display: flex !important;
}