<!DOCTYPE html>
<html>

<body>
    <p>Hi Student!</p>
<br>
    <p>You have received a new problem <b>"{{ problem_title }}"</b> from your teacher <b>{{ teacher.user.first_name }} {{ teacher.user.last_name }}.</b></p>
<br>
    <p>We hope this email finds you feeling motivated and ready to unleash your incredible skills! We're thrilled to announce that a new task has just been assigned to you, and we know you're going to rock it!</p>

    <p>We believe in your incredible potential and know that you have what it takes to exceed expectations. This task will not only expand your understanding of the subject but also allow you to apply your learning in a practical and meaningful way.</p>

    <p>To access the details of the task, simply log in to your student portal and navigate to the course page. You'll find the task listed there, eagerly awaiting your touch of brilliance.</p>

    <p>Remember, this is your chance to shine, to go above and beyond what you thought was possible. Embrace the opportunity, set your creativity free, and let your passion guide you towards producing something extraordinary.</p>

    <p>If you have any questions or need clarification, don't hesitate to reach out to us. Our dedicated support team is always here to assist you. Just drop us a message at alphadjeolimp@gmail.com, and we'll be more than happy to provide guidance.</p>
    <p>Now it's time to show the world what you're made of! Prepare to embark on this exciting task, armed with your unique talents and the knowledge you've gained throughout your course. We can't wait to see the amazing results you'll achieve.</p>
<br>
    <p>Wishing you an exhilarating journey and incredible success!</p>

</body>
</html>