<!DOCTYPE html>
<html>

<body>
    <p>Hi Student!</p>
    <br>
    <p>You have received a new problem <b>"{{ problem.headline }}"</b> from your teacher <b>{{ teacher.user.first_name }} {{ teacher.user.last_name }}.</b></p>
    <br>
    <p>We hope this email finds you feeling motivated and ready to unleash your incredible skills! We're thrilled to announce that a new task has just been assigned to you, and we know you're going to rock it!</p>
    <p>We believe in your incredible potential and know that you have what it takes to exceed expectations. This task will not only expand your understanding of the subject but also allow you to apply your learning in a practical and meaningful way.</p>
    <br>
    <p>To access the new problem, simply <a href="https://www.web-testing-service.online{% url 'login' %}">log in to your web-testing portal</a> and navigate to the <a href="https://www.web-testing-service.online{% url 'problem' pk=problem.pk %}">Problem page</a>.</p>
    <p>Remember, this is your chance to shine, to go above and beyond what you thought was possible. Embrace the opportunity, set your creativity free, and let your passion guide you towards producing something extraordinary.</p>
    <br>
    <p>Now it's time to show the world what you're made of! Prepare to embark on this exciting task, armed with your unique talents and the knowledge you've gained throughout your course. We can't wait to see the amazing results you'll achieve.</p>
    <br>
    <p>If you have any questions or need assistance, our dedicated support team is always here to help. Just drop us a line at <a href="mailto:webtestingservice.info@gmail.com">webtestingservice.info@gmail.com</a>, and we'll be more than happy to lend a hand.</p>
    <br>
    <p>Happy learning!</p>
</body>
</html>