<!DOCTYPE html>
<html>
<body>
    <p>Hi Student!</p>
    <br>
    <p>Your teacher <b>{{ teacher.user.first_name }} {{ teacher.user.last_name }}</b> has created a new test "<b>{{ test.headline }}</b>" for you.</p>
    <br>
    <p>We believe you're ready for this new challenge! This test will help you reinforce your knowledge and assess your progress in the subject.</p>
    <p>To access the new test, simply <a href="https://www.web-testing-service.online{% url 'login' %}">log in to your web-testing portal</a> and navigate to the <a href="https://www.web-testing-service.online{% url 'test' pk=test.pk %}">Test page</a>.</p>
    <br>
    <p>Show what you're capable of! We believe in you and look forward to seeing your outstanding results.</p>
    <br>
    <p>If you have any questions or need assistance, our dedicated support team is always here to help. Just drop us a line at <a href="mailto:webtestingservice.info@gmail.com">webtestingservice.info@gmail.com</a>, and we'll be more than happy to lend a hand.</p>
    <br>
    <p>Happy learning!</p>
</body>
</html>
