{% extends 'base.html' %}

{% block title %}Group | {{ group.name }}{% endblock %}

{% block content %}
    <div class="group-container">
        <div class="group-top-row">
            <h1 class="group-name">{{ group.name}}</h1>
            <div class="group-teacher"><b>Teacher:</b> <a href="{% url 'profile' %}">{{ group.teacher }}</a></div>
        </div>
    </div>

    <table id="students-table" class="students-table display" cellspacing="0" data-url="{% url 'group_data' pk=group.pk %}">
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Score</th>
            <th>Problems solved</th>
            <th>Tests solved</th>
        </tr>
        </thead>
        <tbody id="students-table-tbody"></tbody>
    </table>

{% endblock %}
