{% load custom_filters %}

<div class="article-container">
    <h1 class="page-title">{{ headline }}</h1>

    <form class="article-box" method="post" enctype="multipart/form-data" novalidate autocomplete="off">
        {% csrf_token %}
        <div class="article-fields card">
            <div class="article-fields-top">
                <div class="top-row">
                    <div class="headline" id="headline"><b>Headline:</b>&nbsp;&nbsp;&nbsp;
                        {% if form.headline.errors %}
                            {{ form.headline|add_class:"danger-outline" }}
                        {% else %}
                            {{ form.headline }}
                        {% endif %}
                    </div>
                </div>

                {% if type == 'problem' %}
                    <div class="due-date"><b>Due date:</b>&nbsp;&nbsp;
                        {% if form.deadline.errors %}
                            {{ form.deadline|add_class:"danger-outline" }}
                        {% else %}
                            {{ form.deadline }}
                        {% endif %}
                    </div>

                    <div class="article-values">
                        <div class="max-points"><b>Points:</b>&nbsp;&nbsp;&nbsp;
                            {% if form.max_points.errors %}
                                {{ form.max_points|add_class:"danger-outline" }}
                            {% else %}
                                {{ form.max_points }}
                            {% endif %}
                        </div>
                        <div class="max-execution-time"><b>Max execution time:</b>&nbsp;&nbsp;&nbsp;
                            {% if form.max_execution_time.errors %}
                                {{ form.max_execution_time|add_class:"danger-outline" }}
                            {% else %}
                                {{ form.max_execution_time }}
                            {% endif %}&nbsp;ms
                        </div>
                    </div>
                {% endif %}
                <hr>
                <b>Content:</b>
                <div class="article-content">

                    {% if form.content.errors %}
                        {{ form.content|add_class:"danger-outline" }}
                    {% else %}
                        {{ form.content }}
                    {% endif %}
                </div>
            </div>
            <div class="article-fields-bottom">
                {% if teacher and type == 'problem' %}
                    <div id="selectedFiles" class="test-file">
                        <label class="{% if form.test_file.errors %}danger-outline{% else %}{% endif %}files-input pretty-button dark" id="test-file-label" for="id_test_file"><i class="fa-solid fa-upload"></i>&nbsp;Test file</label>
                        {{ form.test_file }}
                    </div>
                {% endif %}
                <hr>
                <div class="action-buttons">
                    <button class="pretty-button primary" type="submit">Save</button>
                    {% if type == 'problem' %}
                        <a class="pretty-button danger" href="{% url 'problems' %}">Cancel</a>
                    {% elif type == 'lecture' %}
                        <a class="pretty-button danger" href="{% url 'lectures' %}">Cancel</a>
                    {% endif %}
                </div>

            </div>
        </div>

        {% include '_groups_select.html' %}
    </form>

    <div class="disabled-area" id="disabled-area"></div>
</div>

