{% load custom_filters %}

<div class="article-container">
    {% if problem %}
        <h1 class="page-title">{{ problem.headline }}</h1>
    {% elif lecture %}
        <h1 class="page-title">{{ lecture.headline }}</h1>
    {% endif %}

    <form class="article-box" method="post" enctype="multipart/form-data" novalidate autocomplete="off">
        {% csrf_token %}
        <div class="article-fields card">
            <div class="article-fields-top">
                <div class="top-row">
                    <div class="headline" id="headline"><b>Headline:</b>&nbsp;&nbsp;&nbsp;
                        {% if form.headline.errors %}
                            {{ form.headline|add_class:"danger-outline" }}
                        {% else %}
                            {{ form.headline }}
                        {% endif %}
                    </div>

                    {% if teacher %}
                        <div class="edit-actions">
                            <a class="action-hover" onclick="showDeleteConfirmation()"><i class="fa-solid fa-trash-can"></i></a>
                        </div>
                    {% endif %}
                </div>

                {% if problem %}
                    <div class="due-date"><b>Due date:</b>&nbsp;&nbsp;{{ form.deadline }}</div>

                    <div class="article-values">
                        <div class="max-points"><b>Points:</b>&nbsp;&nbsp;&nbsp;
                            {% if form.max_points.errors %}
                                {{ form.max_points|add_class:"danger-outline" }}
                            {% else %}
                                {{ form.max_points }}
                            {% endif %}
                        </div>
                        <div class="max-execution-time"><b>Max execution time:</b>&nbsp;&nbsp;&nbsp;
                            {% if form.max_execution_time.errors %}
                                {{ form.max_execution_time|add_class:"danger-outline" }}
                            {% else %}
                                {{ form.max_execution_time }}
                            {% endif %}&nbsp;ms
                        </div>
                    </div>
                {% endif %}
                <hr>
                <b>Content:</b>
                <div class="article-content">

                    {% if form.content.errors %}
                        {{ form.content|add_class:"danger-outline" }}
                    {% else %}
                        {{ form.content }}
                    {% endif %}
                </div>
            </div>
            <div class="article-fields-bottom">
                {% if teacher and problem %}
                    <div id="selectedFiles" class="test-file">
                        <label class="files-input" id="test-file-label" for="id_test_file"><i class="fa-solid fa-upload"></i>&nbsp;Test file</label>
                        {{ form.test_file }}
                    </div>
                {% endif %}
                <hr>
                <div class="action-buttons">
                    <button class="pretty-button success" type="submit">Save</button>
                    {% if problem %}
                        <a class="pretty-button danger" href="{% url 'problem' pk=article.id %}">Cancel</a>
                    {% elif lecture %}
                        <a class="pretty-button danger" href="{% url 'lecture' pk=article.id %}">Cancel</a>
                    {% endif %}
                </div>

            </div>

        </div>
        <div class="article-right">
            {% if student and problem %}
                <div class="article-solutions card">
                    <div class="solution-headline">
                        <h3>Your solution</h3>
                        {% if solution %}
                            <h4 class="rounded-tile success">Taken</h4>
                        {% else %}
                            <h4 class="rounded-tile danger">None</h4>
                        {% endif %}
                    </div>
                    {% if solution %}
                        <div class="solution-score">
                            <div class="rounded-tile action score">{{ solution.score }}/{{ article.max_points }}</div>
                            <div class="taken">
                                <div class="taken-time">{{ solution.date_solved|date:'H:i'}}</div>
                                <div class="taken-date">{{ solution.date_solved|date:'d/m/Y'}}</div>
                            </div>
                            <div class="checked">
                                {% if solution.checked %}
                                    <i class="fa-solid fa-square-check success-text"></i>
                                {% else %}
                                    <i class="fa-solid fa-square-xmark danger-text"></i>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <a class="pretty-button action" href="{% url 'problem_take' pk=problem.id %}">Add solution</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </form>
    {% if comments %}
    <div class="article-comments">
        <h2 class="comments-headline" >Comments</h2>
        {% for comment in comments %}
            <div class="comment card">
                <div class="comment-top">
                    <div class="author"><b>{{ comment.user.get_full_name }}</b></div>
                    <div class="separator">•</div>
                    <div class="commented">{{ comment.date_created|date:'d/m/Y H:i' }}</div>
                </div>
                <div class="comment-bottom">
                    {{ comment.content }}
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    <div class="disabled-area" id="disabled-area"></div>

    <div class="delete-confirmation card" id="delete-confirmation">
        <h3>Do you want delete "{{ article.headline }}" ?</h3>
        <div class="delete-confirmation-buttons">
            <button class="pretty-button primary" onclick="closeDeleteConfirmation()">Cancel</button>
            <a class="pretty-button danger" href="{% url 'problem_delete' pk=article.id %}">Delete</a>
        </div>
    </div>
</div>

<script>

</script>

