<div class="logo"><a href="">Web Testing Service</a></div>

<ul class="navigation">
    <li><a href="{% url 'students:lectures' %}">Lectures</a></li>
    <li><a href="{% url 'students:problems' %}">Problems</a></li>
    <li><a href="">Tests</a></li>
</ul>

<ul class="side-navigation">
    <li>
        <a href=""><i class="fa-solid fa-bars"></i></a>
        <ul class="sub-menu">
            <!-- Your vertical menu items go here -->
            <li>
                <a href="https://mechmat.knu.ua/" class="icon-link"><i class="navigation-icon fa-solid fa-building-un"></i>
                    Faculty</a>
            </li>
            <li>
                <a href="https://mechmat.knu.ua/golovna/fakul-tet/biblioteka/" class="icon-link"><i class="navigation-icon fas fa-thin fa-book"></i>
                    Library</a>
            </li>
            <li>
                <a href="https://github.com/andriidem308/django_eolimp"><i class="navigation-icon fa-brands fa-github"></i>
                    Github</a>
            </li>
        </ul>
    </li>
{#    <li><a href=""><i class="fa-solid fa-bell"></i></a></li>#}
{#    <li><a href=""><i class="fa-regular fa-bell"></i></a></li>#}
    <li><a href="{% url 'profile' %}"><i class="fa-solid fa-user"></i></a></li>
{#    <li><a href=""><i class="fa-solid fa-arrow-right-from-bracket"></i></a></li>#}
</ul>