{% extends 'base.html' %}

{% block content %}
    <div class="lecture-container">
        <div class="lecture-description card">
            <h1 class="title" id="title">{{ lecture.headline }}</h1>
            <div class="created">
                <div class="created-by">
                    <div class="author" id="author">{{ lecture.teacher.user.first_name }} {{ lecture.teacher.user.last_name }}</div>
                    <div class="separator-dot">•</div>
                    <div class="date-created" id="date-created">{{ lecture.date_created }}</div>
                </div>
            </div>

            <hr>
            <div class="description" id="description">
                {{ lecture.content }}
            </div>
            <br>
            <hr>
        </div>

        <div class="lecture-side">
            <div class="attachments card">
                <h3>Attachments</h3>
                <div class="attachments-content">
                    <a download href="/media/lectures/CV_Andrii_Demchenko1.pdf" class="attachment">
                        <div class="attachment-name">Attachment_1.pdf</div>
                    </a>
                    <a download href="/media/lectures/CV_Andrii_Demchenko1.pdf" class="attachment">
                        <div class="attachment-name">Att2.pdf</div>
                    </a>
                    <a download href="/media/lectures/CV_Andrii_Demchenko1.pdf" class="attachment">
                        <div class="attachment-name">Attachment_3.pdf</div>
                    </a>
                    <a download href="/media/lectures/CV_Andrii_Demchenko1.pdf" class="attachment">
                        <div class="attachment-name">Attachment_4.pdf</div>
                    </a>
                </div>
            </div>
            <div class="comments card">
                <h3>Leave a comment</h3>
                <textarea class="pretty-textarea" name="" id="" cols="30" rows="10"></textarea>
                <button class="pretty-button primary">Comment</button>
            </div>
        </div>

    </div>
{% endblock %}
