{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'lecture' pk=1 %}">Lecture</a>
    <a href="{% url 'lecture_edit' pk=1 %}">Lecture Edit</a>
    <a href="{% url 'lecture_add' %}">Lecture Add</a>

    {% for lecture in lectures %}
        <div class="lecture-card card">
            <a href="{% url 'lecture' pk=lecture.pk %}">
                <div class="lecture-name">Headline: {{ lecture.headline }}</div>
                <div class="lecture-teacher">Teacher: {{ lecture.teacher }}</div>
                <div class="lecture-content">{{ lecture.content }}</div>
            </a>
        </div>

    {% endfor %}

{% endblock %}


