{% extends 'base.html' %}

{% block content %}
    <div class="top-row">
        <h1>Lectures</h1>
        <a class='add-lecture pretty-button primary' href="{% url 'lecture_add' %}">
            <i class="fa-solid fa-plus"></i>New lecture</a>
    </div>

    {% for lecture in lectures %}
        <a class="lecture-card card" href="{% url 'lecture' pk=lecture.pk %}">
            <div class="lecture-name">Headline: {{ lecture.headline }}</div>
            <div class="lecture-teacher">Teacher: {{ lecture.teacher }}</div>
            <div class="lecture-content">{{ lecture.content }}</div>
        </a>
    {% endfor %}

    {% include '_pagination.html' with items=lectures %}
{% endblock %}


